body{
  background: rgba(6, 241, 65, 0.822) url(imagens/wallpaper001.jpg)  no-repeat  fixed;
  background-size: 100% 100%;
  font: normal 15pt arial; 
}

header { 
    color: white;
    text-align: center;
    
 
}

main{
  background: rgb(255, 255, 255);
 border-radius: 15px;
 padding: 15px;
 width: 500px;
 margin: auto;
 box-shadow: 5px 5px 10px black;
}

footer {
 color: white;
 text-align:  center;
 font-style: italic;
}