body{
  background: rgba(15, 237, 11, 0.822);
  font: normal 15pt arial; 
}
header { 
    color: rgb(91, 235, 24);
    text-align: center;
 
}
section {
 background: rgba(177, 224, 7, 0.63);
 border-radius: 15px;
 padding: 15px;
 width: 500px;
 margin: auto;
 box-shadow: 5px 5px 10px rgb(70, 62, 62);
}
footer {
 color: rgb(248, 5, 5);
 text-align:  center;
 font-style: italic;
}